doctype
html
	head
		meta(charset="utf-8")
		title #{商品首页}
		link(rel="stylesheet",href="../css/index.css")
		script(src="../css/js/buy.js")
	body
		include header.jade
		div.purchase
			div.emption_min
				h2 您的订单已经准备好 <br/>请确认以下信息
				div.emption_min_body
					div.form
						p 送货地址
						span 王楠
						span 电话:
							i 17329473423
						span 中国上海市长宁区天山路1726
						span
							a(href="#") 选择其他收货地址
					div.allprice
						p 订单总计
						ul
							li.subtotal
								span 小计
								i ￥
									span 340
							li.fare
								span 运费
								i ￥
									span 20
							li.free
								span 免运费
								i ￥
									span 10
							li.total
								span 总计
								i ￥
									span 349
			div.goods
				div.min_goods
					div.goods_min
						h3 即将送货
						p 以下商品即将寄出
						div.goods_one.good
							img(src="../images/goods.png", alt="")
							i 麦塔单肩包
							div.delete
								img(src="../images/delete.png", alt="")
							div.footage
								span 尺码
								span 数量
								span 总价
							div.size
								span.junma 均码
								div.number
									span.minus -
									input(type="text",value="1",num="")
									span.add +
								span.price ￥
									span 199
						div.underline
						div.goods_two.good
							img(src="../images/goods1.png", alt="")
							i 麦塔单肩包
							div.delete
								img(src="../images/delete.png", alt="")
							div.footage
								span 尺码
								span 数量
								span 总价
							div.size
								span.junma 均码
								div.number
									span.minus -
									input(type="text",value="1",num="")
									span.add +
								span.price ￥
									span 199
				div.money
					div.button
						a(href="#").zfu 支付宝支付
					div.button1
						a(href="#").wx 微信支付
		include footer.jade