div.footer
	div.footer_body
		dl.help
			dt 帮助
			dd
				a(href="#") 退换货
			dd
				a(href="#") 联系我们
			dd
				a(href="#") 服务条款
			dd
				a(href="#") 隐私声明
		dl.introduce
			dt 公司介绍
			dd
				a(href="#") 工厂故事
			dd
				a(href="#") 关于我们
		dl.scocial
			dt 社交网络
			dd
				a(href="#") 微博
			dd
				a(href="#") 微信
			dd
				a(href="#") 博客