div.header
	div.header_top
		div.header_top_min
			div.top_min_left 加入会员，首单免邮
			div.top_min_right
				div.min_right_title
					a(href="javascript:void(0);").register 注册
					span 
					a(href="javascript:void(0);").entry 登陆
				div.min_right_cref
					span 购物袋
					a(href="#")
						img(src="../images/shopbar.png", alt="",)
	div.header_center
		img(src="../images/meta.png", alt="")
	div.header_bottom
		div.heade_bottom_min
			a(href="index.html").one 产品目录
			a(href="#").two 工厂故事
			a(href="#").three 优惠策略
			a(href="about.html").four 关于我们
	div.login
		div#login_one
			div.login_one_min
				h3 加入META会员计划
				p 市场上的产品，
				p 一般都是8倍于其成本进行销售,
				p 但是，在META绝不是这样 
				p 我们将会坚持我们的极致透明策略, 
				p 去除一切中间商，减少供应链，提供
				p 优质、低廉价格的设计师产品。
				form
					div.email
						span 邮箱
						input(type="text")
				button.found
					a(href="javascript:void(0);").create 创建用户
				button.tweet
					a(href="javascript:void(0);")
						img(src="../images/tweet.png", alt="")
						span 微博账户登陆 
				button.qq
					a(href="#")
						img(src="../images/qq.png", alt="")
						span qq账户登陆
			div.login_one_cref
				a(href="javascript:void(0)") 已注册？登陆
		div#login_two
			h3 注册即将完成
			form(action="")
				div.ce
					label(for="username") 姓名
					input(type="text")
				div.ce
					label(for="password") 密码 
					input(type="password")
				div.ce
					label(for="number") 手机号码
					input(type="number")
				input(type="button",value="登陆中")
		div#login_three
			div.login_three_min
				p -欢迎回来-
				div.welcome
					img(src="../images/loginmeta.png", alt="")
				button.tweet
						a(href="javascript:void(0)")
							img(src="../images/tweet.png", alt="")
							span 微博账户登陆 
				button.qq
					a(href="javascript:void(0)")
						img(src="../images/qq.png", alt="")
						span qq账户登陆
				p.or -or-
				form(action="")
					div.ce
						label(for="") 邮箱
						input(type="text")
					div.ce
						label(for="password") 密码 
						input(type="password")
					input(type="button",value="登陆")
				p.forget
					a(href="javascript:void(0)") 忘记密码？点击这里
			div.login_three_cref
				a(href="javascript:void(0)") 注册META