doctype
html
	head
		meta(charset="utf-8")
		title #{商品首页}
		link(rel="stylesheet",href="../css/index.css")
		script(src="../css/js/index.js")
		script(src="../css/js/buy.js")
	body
		include head.jade
		div.tab
			ul
				li
					img(src="../images/lunbo.png", alt="")
				li
					img(src="../images/lunbo.png", alt="")
				li
					img(src="../images/lunbo.png", alt="")
			ol
				li
				li
				li
		div.list
			div.list_one.some
				h4 双肩包系列
				ul
					li
						img(src="../images/bag.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
					li
						img(src="../images/bag.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
					li
						img(src="../images/bag.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
					li
						img(src="../images/bag.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
			div.list_two.some
				h4 单肩包系列
				ul
					li
						img(src="../images/bag1.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
					li
						img(src="../images/bag1.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
					li
						img(src="../images/bag1.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
					li
						img(src="../images/bag1.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
			div.list_three.some
				h4 洗漱包系列
				ul
					li
						img(src="../images/bag2.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
					li
						img(src="../images/bag2.png", alt="")
						span
							a(href="#") 麦塔双肩包-￥349
		include footer.jade