doctype
html
	head
		meta(charset="utf-8")
		title #{商品首页}
		link(rel="stylesheet",href="../css/index.css")
		link(rel="stylesheet",href="../css/about.css")
		script(src="../css/js/buy.js")
	body
		include head.jade
		div.member
			h3 编辑您的用户
			ul
				li
					a(href="#") 我的账号
				li
					a(href="#") 我的订单
				li
					a(href="#") 订单地址
				li
					a(href="#") 收货退货
				li
					a(href="#") 退货
			form
				label(for="") 姓名
				input(type="text").surname
				label(for="") 邮箱地址
				input(type="text").emailaddress
				label(for="") 输入新密码
				input(type="text").newpassword
				br
				span 男
				input(type="radio",name="name")
				span.girl 女
				input(type="radio",name="name")
				input(type="button",value="保存")
		include footer.jade