div.main
	div.minWidth
		div.courseDeta_top
			img(src="/images/reactNative.jpg")
			div.info
				h2 ReactNative零基础入门到项目实战
				p
					span 蓝鸥科技
					span 总课时:27
				div.money
					em 免费
				div.datails_btn
					a(href="#") 立即购买
		div.courseDetaCont
			div.courseDetaCont_tile
				span.on 课程详情
				span 学校简介
			div.courseDetaCont_box#courseDetaCont_box0
				h2 超强师资
				div.box.remit
					span 易荟云：
					p 从事IT行业5年，专注移动互联网领域5年，主攻iOS平台开发，3年iOS教学经验。曾就职于火花科技和蚕豆网。精通C、OC，UI，网络编程，多线程等语言，了解PHP，HTML等语言。具有丰富的实战开发经验，同时在教学方面也有一定的研究。培养了很多iOS开发工程师。
				h3 第一阶段：React
				div.box
					span 知识点：
					p React背景介绍、特点、学习准备，React和React Native的关系
				div.box
					span React开发环境配置:
					p 安装IDE、安装插件、下载React
				div.box
					span 创建React项目：
					p 创建项目文件、React工程模板、第一个React小项目、JSX入门
				div.box
					span Component组件：
					p 定义组件、组件的样式设置、复合组件
				div.box
					span Props：
					p this.props、…this.props、this.props.children、Prop Types（属性验证）、设置组件属性的默认值
				div.box
					span State：
					p 事件处理、state、表单的基本使用。
				div.box
					span 组件的生命周期：
					p 生命周期介绍、方法介绍、生命周期各阶段介绍
				h3 第二阶段：React Native
				div.box
					span 知识点：
					p 背景介绍、特点
				div.box
					span 组件的生命周期：
					p 生命周期介绍、方法介绍、生命周期各阶段介绍
				div.box
					span React Native开发环境配置：
					p 开发环境介绍、配置流程
				div.box
					span React Native项目创建及结构分析：
					p 创建React Native项目、项目结构分析、React Native代码执行逻辑、React Native集成iOS应用、React Native调试
				div.box
					span Style Sheet样式表：
					p Style Sheet.create、书写格式（与H5的差异）
				div.box
					span Flexbox布局：
					p 弹性盒模型介绍、React Native中使用Flexbox
				div.box
					span Style Sheet样式表：
					p Style Sheet.create、书写格式（与H5的差异）
				div.box
					span 其他组件：
					p View组件、Text组件、Touchable类组件、Image组件、Text Input组件、Scroll View组件、List View组件、Navigator组件及Tab Bar iOS组件
				div.box
					span S网络：
					p Promsie方法链、Fetch实现数据请求
				h3 第三阶段：React Native项目实践
				div.box
					span 知识点：
					p 项目实战开发，真机测试。
			div.courseDetaCont_box#courseDetaCont_box1
				div.title 蓝鸥科技
				p.introduce 蓝鸥科技有限公司成立于2012年10月，由资深苹果iOS专家刘辉创立于北京，目前注册资本6666.67 万元。蓝鸥科技是一家发展迅速的高新技术企业，公司iOS开发、VR/AR开发、Android开发、HTML5前端开发、Web安全攻防、UI设计、PHP和产品经理等技术人才的培养。与此同时，蓝鸥科技积极与企业和高校之间开展广泛的战略合作。到目前为止，蓝鸥已经为腾讯、百度、新浪、网易、搜狐、淘宝网、当当网、触控科技，搜房网等众多企业提供过移动平台研发和服务，并为其输送了11000多名高级开发工程师。蓝鸥学员良好的职业技能和素养受到了企业的一致好评，最高口碑率达到90%，平均口碑率超过80%，创造了移动互联网研发培训界的奇迹。
				div.company
					img(src="/images/company1.png")