div.footer
	div.minWidth
		div.footer_left
			div.footer_logo
				img(src="/images/footer_logo.png")
			p 精英吧是由北京才信教育科技有限公司创建并运营的在线教育平台，是国内唯一一家专注精品课程和学习效果考察的在线教育网站。
			div.code
				span 关注我们：
				em.wechat
				em.microblog
				img(src="/images/number_code2.png").wechat_code
				img(src="/images/microblog_code.png").microblog_code
		div.footer_cent
			ul
				span 帮助
				li
					a(href="/") 常见问题
				li
					a(href="/") 版权声明
				li
					a(href="/") 服务条款
			ul
				span 现有课程
				li
					a(href="/") HTML5
				li
					a(href="/") Unity3D
				li
					a(href="/") More>>
			ul
				span 反馈方式
				li
					a(href="/") 电子邮箱：help@jingyingba.com
				li
					a(href="/") 微信反馈：精英吧（jingyingbacom）
				li
					a(href="/") 微博反馈：才信教育
		div.footer_right
			p
				span 口袋精英App
				img(src="/images/app_code.png")
			br
			br
			a(href="/") 官方网站
			a(href="/")
				img(src="/images/10000.png",alt="")
				span 机构入驻
	div.footer_bot
		span 才信教育©2015-2017
		span
			a(href="/") 京ICP备16013954号
div.floatbox(style="right: 0px;")
	div.wechat
		a(href="/")
			img(src="/images/wechat.png")
			span 公众号
	div.message
		a(href="/")
			img(src="/images/message.png")
			span 在线留言
	div.returntotop
	div.publicno(style="display: none")
		img(src="/images/number_code.png")
script(src="/javascripts/public.js")