div.mian
	div.curriculum.minWidth
		ul.curriculum_cont
			li(style:'top:0px')
				a(href="/")
					span.ios
					p iOS
			li(style:'top:0px')
				a(href="/")
					span.HTML5
					p HTML5
			li(style:'top:0px')
				a(href="/")
					span.Unity-3D
					p Unity-3D
			li(style:'top:0px')
				a(href="/")
					div
						em
						em
						em
					p More
	div.cooperation.minWidth
		div.mechanism
			p.mechanism_til 合作机构
			div.mechanism_cont
				ul(style="left:0px")
					li
						img(src="/images/mechanism2.png")
					li
						img(src="/images/mechanism3.png")
					li
						img(src="/images/mechanism1.png")
					li
						img(src="/images/mechanism4.png")
					li
						img(src="/images/mechanism5.png")
					li
						img(src="/images/mechanism6.png")
					li
						img(src="/images/mechanism7.png")
			span.next
		div.enterprise
			p.enterprise_til 合作企业
			div.mechanism_cont
				ul(style="left:0px")
					li
						img(src="/images/enterprise1.png")
					li
						img(src="/images/enterprise2.png")
					li
						img(src="/images/enterprise3.png")
					li
						img(src="/images/enterprise4.png")
					li
						img(src="/images/enterprise5.png")
					li
						img(src="/images/enterprise6.png")
			span.next
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js",type="text/javascript")
script(src="/javascripts/index.js")